.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(203, 247, 247);
    width: 300px;
    padding: 0 16px;
    border-radius: 15px;
}

.todo-main {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: 0 auto;
}
form {
        background: rgb(139, 185, 247);
    padding: 20px;
    display: flex;
    gap: 5px;
    margin-top: 15px;
    border-radius: 15px;
}

#todo-text {
    font-size: 18px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid aqua;
    width: 100%;

}

.todo-form button[type=submit] {
    text-wrap: nowrap;
    border-radius: 6px;
    padding: 6px;
    border: 1px solid rgb(163, 162, 160);
}

.todo-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    background: rgb(243, 181, 181);
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.todo-list--item {
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid rgb(234, 234, 238);
    background: rgb(227, 233, 240);
    border-radius: 15px;
}


.todo-list--item-text{

    font-size: 20px;
    cursor: pointer;
}

.todo-list--item-text__active {
    text-decoration:line-through;
}
